<?xml version="1.0" encoding="utf-8" ?>
<defaultforums>
    <forum forumid="-1" forumname="General Discussion" forumdesc="Welcome to [GROUPNAME]">
        <security type="groupadmin">
            <view value="true" />
            <read value="true" />
            <create value="true" />
            <reply value="true" />
            <edit value="true" />
            <delete value="true" />
            <lock value="true" />
            <pin value="true" />
            <attach value="true" />
            <subscribe value="true" />
            <modapprove value="true" />
            <modedit value="true" />
            <moddelete value="true" />
            <modlock value="true" />
            <modpin value="true" />
            <modmove value="true" />
        </security>
        <security type="groupmember">
            <view value="true" />
            <read value="true" />
            <create value="true" />
            <reply value="true" />
            <edit value="true" />
            <delete value="false" />
            <lock value="false" />
            <pin value="false" />
            <attach value="false" />
            <subscribe value="false" />
            <modapprove value="false" />
            <modedit value="false" />
            <moddelete value="false" />
            <modlock value="false" />
            <modpin value="false" />
            <modmove value="false" />
        </security>
        <security type="registereduser">
            <view value="true" />
            <read value="true" />
            <create value="false" />
            <reply value="false" />
            <edit value="false" />
            <delete value="false" />
            <lock value="false" />
            <pin value="false" />
            <attach value="false" />
            <subscribe value="false" />
            <modapprove value="false" />
            <modedit value="false" />
            <moddelete value="false" />
            <modlock value="false" />
            <modpin value="false" />
            <modmove value="false" />
        </security>
        <security type="anon">
            <view value="true" />
            <read value="true" />
            <create value="false" />
            <reply value="false" />
            <edit value="false" />
            <delete value="false" />
            <lock value="false" />
            <pin value="false" />
            <attach value="false" />
            <subscribe value="false" />
            <modapprove value="false" />
            <modedit value="false" />
            <moddelete value="false" />
            <modlock value="false" />
            <modpin value="false" />
            <modmove value="false" />
        </security>
    </forum>
</defaultforums>