<?xml version="1.0" encoding="utf-8" ?>
<configs>
  <mainsettings>
    <setting name="THEME" value="_default" />
    <setting name="FORUMTEMPLATEID" value="0" />
    <setting name="PAGESIZE" value="20" />
    <setting name="TEMPLATECACHE" value="0" />
    <setting name="DATEFORMATSTRING" value="dd MMM yyyy" />
    <setting name="TIMEFORMATSTRING" value="hh:mm tt" />
    <setting name="TIMEZONEOFFSET" value="0" />
    <setting name="FLOODINTERVAL" value="0" />
    <setting name="LOGGINGLEVEL" value="0" />
    <setting name="EDITINTERVAL" value="0" />
    <setting name="DELETEBEHAVIOR" value="0" />
    <setting name="MAILQUEUE" value="false" />
    <setting name="PROFILETYPE" value="1" />
    <setting name="USERNAMEDISPLAY" value="Displayname" />
    <setting name="MEMBERLISTMODE" value="ENABLED" />
    <setting name="ALLOWSIGNATURES" value="0" />
    <setting name="ALLOWSUBSCRIBE" value="true" />
    <setting name="ALLOWSUBTYPES" value="0:1:" />
    <setting name="ALLOWAVATARS" value="true" />
    <setting name="ALLOWAVATARLINKS" value="false" />
    <setting name="AVATARHEIGHT" value="50" />
    <setting name="AVATARWIDTH" value="50" />
    <setting name="ENABLEPOINTS" value="false" />
    <setting name="TOPICPOINTVALUE" value="1" />
    <setting name="REPLYPOINTVALUE" value="1" />
    <setting name="ANSWERPOINTVALUE" value="1" />
    <setting name="MODPOINTVALUE" value="1" />
    <setting name="MARKANSWERPOINTVALUE" value="1" />
    <setting name="PMTYPE" value="0" />
    <setting name="PMTABID" value="-1" />
    <setting name="STATSENABLED" value="false" />
    <setting name="STATSCACHE" value="5" />
    <setting name="ADDTHISACCOUNT" value="" />
    <setting name="USERSONLINEENABLED" value="true" />
    <setting name="PROFILEVISIBILITY" value="ENABLEDREG" />
    <setting name="SHORTURLS" value="true" />
      <setting name="REQCAPTCHA" value="true" />
      <setting name="USESKINBC" value="true" />
      <setting name="AUTOLINK" value="true" />
    
  </mainsettings>
  <templates>
    <template templateid="" templatetitle="ProfileInfo" templatetype="11" templatesubject="ProfileInfo" importfilehtml="" importfiletext="~/DesktopModules/ActiveForums/config/templates/ProfileInfo.txt" />
    <template templateid="" templatetitle="ForumView" templatetype="2" templatesubject="ForumView" importfilehtml="" importfiletext="~/DesktopModules/ActiveForums/config/templates/ForumView.txt" />
    <template templateid="" templatetitle="TopicsView" templatetype="4" templatesubject="TopicsView" importfilehtml="" importfiletext="~/DesktopModules/ActiveForums/config/templates/TopicsView.txt" />
    <template templateid="" templatetitle="TopicView" templatetype="3" templatesubject="TopicView" importfilehtml="" importfiletext="~/DesktopModules/ActiveForums/config/templates/TopicView.txt" />
    <template templateid="" templatetitle="TopicEditor" templatetype="5" templatesubject="TopicEditor" importfilehtml="" importfiletext="~/DesktopModules/ActiveForums/config/templates/TopicEditor.txt" />
    <template templateid="" templatetitle="ReplyEditor" templatetype="6" templatesubject="ReplyEditor" importfilehtml="" importfiletext="~/DesktopModules/ActiveForums/config/templates/ReplyEditor.txt" />
    <template templateid="" templatetitle="SubscribedEmail" templatetype="8" templatesubject="[PORTALNAME] Forums: [SUBJECT] " importfilehtml="~/DesktopModules/ActiveForums/config/templates/SubscribedEmail_html.txt" importfiletext="~/DesktopModules/ActiveForums/config/templates/SubscribedEmail_text.txt" />
    <template templateid="" templatetitle="PostPending" templatetype="10" templatesubject="[PORTALNAME] Forums - Pending Approval: [SUBJECT] " importfilehtml="~/DesktopModules/ActiveForums/config/templates/ModEmail_html.txt" importfiletext="~/DesktopModules/ActiveForums/config/templates/ModEmail_text.txt" />
    <template templateid="" templatetitle="AdminWatchEmail" templatetype="10" templatesubject="[PORTALNAME] Forums - User Activity: [SUBJECT] " importfilehtml="~/DesktopModules/ActiveForums/config/templates/AdminWatchEmail_html.txt" importfiletext="~/DesktopModules/ActiveForums/config/templates/AdminWatchEmail_text.txt" />
    <template templateid="" templatetitle="PostApproved" templatetype="10" templatesubject="[PORTALNAME] Forums - Approved: [SUBJECT] " importfilehtml="~/DesktopModules/ActiveForums/config/templates/PostApproved_html.txt" importfiletext="~/DesktopModules/ActiveForums/config/templates/PostApproved_text.txt" />
    <template templateid="" templatetitle="PostRejected" templatetype="10" templatesubject="[PORTALNAME] Forums - Rejected: [SUBJECT] " importfilehtml="~/DesktopModules/ActiveForums/config/templates/PostRejected_html.txt" importfiletext="~/DesktopModules/ActiveForums/config/templates/PostRejected_text.txt" />
    <template templateid="" templatetitle="ModAlert" templatetype="10" templatesubject="[PORTALNAME] Forums - ALERT: [SUBJECT] " importfilehtml="~/DesktopModules/ActiveForums/config/templates/ModAlert_html.txt" importfiletext="~/DesktopModules/ActiveForums/config/templates/ModAlert_text.txt" />
    <template templateid="" templatetitle="PostDeleted" templatetype="10" templatesubject="[PORTALNAME] Forums - Deleted: [SUBJECT] " importfilehtml="~/DesktopModules/ActiveForums/config/templates/PostDeleted_html.txt" importfiletext="~/DesktopModules/ActiveForums/config/templates/PostDeleted_text.txt" />
    <template templateid="" templatetitle="PostMoved" templatetype="10" templatesubject="[PORTALNAME] Forums - Moved: [SUBJECT] " importfilehtml="~/DesktopModules/ActiveForums/config/templates/PostMoved_html.txt" importfiletext="~/DesktopModules/ActiveForums/config/templates/PostMoved_text.txt" />
  </templates>
  <filters>
    <filter filterfile="~/DesktopModules/ActiveForums/config/templates/Filters.txt" />
  </filters>
  <ranks>
    <rank rankid="-1" rankname="New Member" rankmin="0" rankmax="99" rankimage="DesktopModules/activeforums/Ranks/blue_square_01.gif" />
    <rank rankid="-1" rankname="Basic Member" rankmin="100" rankmax="499" rankimage="DesktopModules/activeforums/Ranks/blue_square_02.gif" />
    <rank rankid="-1" rankname="Advanced Member" rankmin="500" rankmax="999" rankimage="DesktopModules/activeforums/Ranks/blue_square_03.gif" />
    <rank rankid="-1" rankname="Veteran Member" rankmin="1000" rankmax="4999" rankimage="DesktopModules/activeforums/Ranks/blue_square_04.gif" />
    <rank rankid="-1" rankname="Senior Member" rankmin="5000" rankmax="10000" rankimage="DesktopModules/activeforums/Ranks/blue_square_05.gif" />
  </ranks>
  <defaultforums>
    <groups>
      <group groupid="-1" groupname="Default Group" active="1" hidden="0" sortorder="0">
        <forum forumid="-1" forumname="Sample Forum 1" forumdesc="Welcome to Active Forums!" active="1" hidden="0" sortorder="0" />
        <forum forumid="-1" forumname="Sample Forum 2" forumdesc="" active="1" hidden="0" sortorder="1" />
        <forum forumid="-1" forumname="Sample Forum 3" forumdesc="" active="1" hidden="0" sortorder="2" />
      </group>
    </groups>
  </defaultforums>
</configs>

