<?xml version="1.0" encoding="utf-8" ?>
<tokens>
    <!--<token name="" value="" />-->
    <token group="*" name="[FORUMMAINLINK]" value="&lt;af:link runat='server' Text='[RESX:ForumMain]' PageId='[PAGEID]' /&gt;" permissions="" />
    <token group="*" name="[FORUMGROUPLINK]" value="&lt;af:link runat='server' Text='[GROUPNAME]' PageId='[PAGEID]' Params='[PARAMKEYS:GROUPID]=[FORUMGROUPID]' /&gt;" permissions="" />
    <token group="*" name="[FORUMLINK]" value="&lt;af:link runat='server' Text='[FORUMNAME]' PageId='[PAGEID]' Params='[PARAMKEYS:FORUMID]=[FORUMID],[PARAMKEYS:VIEWTYPE]=[VIEWS:TOPICS]' /&gt;" permissions="" />
    <token group="*" name="[ADDTOPIC]">
        <value>
            <![CDATA[
            <a href="[URL:ADDTOPIC]">[RESX:AddTopic]</a>
            ]]>
        </value>
    </token>
    <token group="*" name="[ADDREPLY]" value="&lt;af:imagebutton runat='server' cssclass='ambutton' PostBack='false' PageId='[PAGEID]' Params='[PARAMKEYS:VIEWTYPE]=topicreply,[PARAMKEYS:FORUMID]=[FORUMID],[PARAMKEYS:TOPICID]=[TOPICID]' text='[RESX:AddReply]' SpriteCSS='aficon afadd aficonleft' NotAuthText='[RESX:NotAuthorizedTopic]' AuthRoles='[REPLYROLES]' NotAuthCSS='amnormal' UserRoles='[USERROLES]' /&gt;" permissions="" />
    <token group="*" name="[FORUMSUBSCRIBE]" value="&lt;af:imagebutton runat='server' imagelocation='LEFT' cssclass='ambutton' PostBack='false' ClientScript='afToggleSub([FORUMID])' text='[RESX:Subscribe]' imageurl='[THEMEPATH]add16.png' NotAuthText='' AuthRoles='[SUBSCRIBEROLES]' NotAuthCSS='' UserRoles='[USERROLES]' /&gt;" permissions="" />
    <token group="*" name="[TOPICSUBSCRIBE]" value="&lt;af:imagebutton runat='server' imagelocation='LEFT' cssclass='ambutton' PostBack='false' ClientScript='afToggleSub([FORUMID],[TOPICID])' text='[RESX:Subscribe]' imageurl='[THEMEPATH]add16.png' NotAuthText='' AuthRoles='[SUBSCRIBEROLES]' NotAuthCSS='' UserRoles='[USERROLES]' /&gt;" permissions="" />
    <token group="*" name="[MINISEARCH]" value="&lt;af:minisearch runat='server' templatefile='minisearch.ascx' /&gt;" permissions="" />
    <token group="*" name="[PAGER]" value="&lt;af:pagernav runat='server' /&gt;" permissions="" />
    <token group="*" name="[JUMPTO]" value="&lt;af:jumpto runat='server' /&gt;" permissions="" />
    <token group="*" name="[RSSLINK]" value="rsslink" permissions="" />
    <token group="*" name="[MARKFORUMREAD]" value="markread" permissions="" />
    <token group="*" name="[BREADCRUMB]" value="&lt;af:breadcrumb GroupName='[GROUPNAME]' ForumName='[FORUMNAME]' SubForumName='[SUBFORUMNAME]' Subject='[SUBJECT]' Seperator=' > ' runat='server' /&gt;" permissions="" />
    <token group="*" name="[TOOLBAR]" value="&lt;af:toolbar templatefile='toolbar.ascx' runat='server' /&gt;" permissions="" />
    <token group="*" name="[TEMPLATE:TOOLBAR]" value="&lt;af:toolbar templatefile='toolbar.ascx' runat='server' /&gt;" permissions="" />
    <token group="*" name="[WHOSONLINE]" value="&lt;af:usersonline templatefile='usersonline.ascx' runat='server' /&gt;" permissions="" />
    <token group="*" name="[AF:CONTROL:STATS]" value="&lt;af:stats templatefile='stats.ascx' runat='server' /&gt;" permissions="" />
    <token group="topic" name="[NEXTTOPIC]" permissions="">
        <value><![CDATA[<af:link runat="server" Text="[RESX:NextTopic] &lt;img src='[THEMEPATH]images/spacer.gif' class='aficon aficonnext' alt='[RESX:NextTopic]' /&gt;" PageId="[PAGEID]" Params="[PARAMKEYS:FORUMID]=[FORUMID],[PARAMKEYS:TOPICID]=[NEXTTOPICID]" Visible="[HASNEXTTOPIC]" />]]></value>
    </token>
    <token group="topic" name="[PREVTOPIC]" permissions="">
        <value><![CDATA[<af:link runat="server" Text="&lt;img src='[THEMEPATH]images/spacer.gif' class='aficon aficonprev' alt='[RESX:PrevTopic]' /&gt; [RESX:PrevTopic]" PageId="[PAGEID]" Params="[PARAMKEYS:FORUMID]=[FORUMID],[PARAMKEYS:TOPICID]=[PREVTOPICID]" Visible="[HASPREVTOPIC]" />]]></value>
    </token>
    <token group="*" name="[ACTIONS:DELETE]">
        <value><![CDATA[[AF:SECURITY:DELETE]<af:imagebutton runat='server' cssclass='ambuttonsm' PostBack='false' NavigateUrl="javascript:if(confirm('[RESX:Confirm:Delete]')){af_cbaction('moddel,[POSTID]');};" text='[RESX:Delete]' SpriteCSS='afaction afactiondel aficonleft' NotAuthText='' AuthRoles='[REPLYROLES]' NotAuthCSS='' UserRoles='[USERROLES]' />[/AF:SECURITY:DELETE]]]></value>
    </token>
    <token group="*" name="[ACTIONS:EDIT]">
        <value><![CDATA[[AF:SECURITY:EDIT]<af:imagebutton runat='server' cssclass='ambuttonsm' PostBack='false' PageId='[PAGEID]' Params='[PARAMKEYS:VIEWTYPE]=post,action=te,[PARAMKEYS:FORUMID]=[FORUMID],[PARAMKEYS:TOPICID]=[POSTID]' text='[RESX:Edit]' SpriteCSS='afaction afactionedit aficonleft' NotAuthText='' AuthRoles='[REPLYROLES]' NotAuthCSS='' UserRoles='[USERROLES]' />[/AF:SECURITY:EDIT]]]></value>
    </token>
    <token group="*" name="[ACTIONS:QUOTE]">
        <value><![CDATA[[AF:SECURITY:REPLY]<af:imagebutton runat='server' cssclass='ambuttonsm' PostBack='false' PageId='[PAGEID]' Params='[PARAMKEYS:VIEWTYPE]=post,[PARAMKEYS:FORUMID]=[FORUMID],[PARAMKEYS:TOPICID]=[TOPICID],[PARAMKEYS:QUOTEID]=[POSTID]' text='[RESX:Quote]' SpriteCSS='aficon aficonquote aficonleft' AuthRoles='[REPLYROLES]' UserRoles='[USERROLES]' />[/AF:SECURITY:REPLY]]]></value>
    </token>
    <token group="*" name="[ACTIONS:REPLY]">
        <value><![CDATA[[AF:SECURITY:REPLY]<af:imagebutton runat='server' cssclass='ambuttonsm' PostBack='false' PageId='[PAGEID]' Params='[PARAMKEYS:VIEWTYPE]=post,[PARAMKEYS:FORUMID]=[FORUMID],[PARAMKEYS:TOPICID]=[TOPICID],[PARAMKEYS:REPLYID]=[POSTID]' text='[RESX:Reply]' SpriteCSS='aficon aficonreply aficonleft' AuthRoles='[REPLYROLES]' UserRoles='[USERROLES]' />[/AF:SECURITY:REPLY]]]></value>
    </token>
    <token group="*" name="[ACTIONS:ALERT]">
        <value><![CDATA[<af:imagebutton runat='server' cssclass='ambuttonsm' PostBack='false' PageId='[PAGEID]' Params='[PARAMKEYS:VIEWTYPE]=modreport,[PARAMKEYS:FORUMID]=[FORUMID],[PARAMKEYS:TOPICID]=[TOPICID],[PARAMKEYS:REPLYID]=[POSTID]' text='[RESX:Alert]' SpriteCSS='aficon aficonalert aficonleft' AuthRoles='[REPLYROLES]' UserRoles='[USERROLES]' />]]></value>
    </token>
    <token group="*" name="[ACTIONS:MOVE]">
        <value><![CDATA[[AF:SECURITY:MOVE]<af:link runat="server" PageId="[PAGEID]" title="[RESX:MoveTopic]" Params="[PARAMKEYS:VIEWTYPE]=modmovetopic,[PARAMKEYS:FORUMID]=[FORUMID],[PARAMKEYS:TOPICID]=[POSTID]" text="<img src='[THEMEPATH]topic_move.gif' border='0' style='vertical-align:middle;' />" AuthRoles="[MODMOVE]" cssclass="afactionbtn" />[/AF:SECURITY:MOVE]]]></value>
    </token>
    <token group="*" name="[ACTIONS:LOCK]">
        <value><![CDATA[[AF:SECURITY:LOCK]<af:link runat="server" NavigateUrl="javascript:if(confirm('[RESX:Confirm:Lock]')){af_cbaction('modlock,[POSTID]');};" title="[RESX:LockTopic]" text="<img src='[THEMEPATH]topic_lock.gif' border='0' style='vertical-align:middle;' />" AuthRoles="[MODLOCK]" cssclass="afactionbtn" />[/AF:SECURITY:LOCK]]]></value>
    </token>
    <token group="*" name="[ACTIONS:PIN]">
        <value><![CDATA[[AF:SECURITY:PIN]<af:link runat="server" NavigateUrl="javascript:if(confirm('[RESX:Confirm:Pin]')){af_cbaction('modpin,[POSTID]');};" title="[RESX:PinTopic]" text="<img src='[THEMEPATH]topic_pin.gif' border='0' style='vertical-align:middle;' />" AuthRoles="[MODPIN]" cssclass="afactionbtn" />[/AF:SECURITY:PIN]]]></value>
    </token>
    <token group="*" name="[POSTICON]" permissions="">
        <value><![CDATA[<img src="[EMOTICONPATH]/[POSTICONIMAGE]" border="0" />]]></value>
    </token>
    <token group="*" name="[AF:CONTROLS:MODACTIONS]">
        <value>
            <![CDATA[[AF:SECURITY:MODROLES]<div class="afmenutoggle" onclick="afMenuShow(this,'[TOPICID]');" id="aft[TOPICID]">
										        <img src="[THEMEPATH]images/configure_24.png" title="[RESX:Actions]" />
										    </div>[/AF:SECURITY:MODROLES]]]>
        </value>
    </token>
    <token group="editor" name="[AF:BUTTON:SUBMIT]" permissions="">
        <value><![CDATA[<af:imagebutton id="btnPost" Text="[RESX:Submit]" CssClass="amimagebutton" ImageLocation="TOP" Height="48" Width="48" ImageUrl="[THEMEPATH]images/save32.png" runat="server" />]]></value>
    </token>
    <token group="editor" name="[AF:BUTTON:CANCEL]" permissions="">
        <value><![CDATA[<af:imagebutton id="btnCancel" Text="[RESX:Cancel]" CssClass="amimagebutton" ImageLocation="TOP" Height="48" Width="48" ImageUrl="[THEMEPATH]images/cancel32.png" runat="server" />]]></value>
    </token>
    <token group="editor" name="[AF:BUTTON:PREVIEW]" permissions="">
        <value><![CDATA[<af:imagebutton id="btnPreview" Text="[RESX:Preview]" PostBack="False" CssClass="amimagebutton" ImageLocation="TOP" Height="48" Width="48" ImageUrl="[THEMEPATH]images/preview32.png" ObjectId="ancPreview" ClientSideScript="togglePreview(this);" runat="server" />]]></value>
    </token>
    <token group="topic" name="[AF:CONTROL:RATING]" permissions="">
        <value><![CDATA[<af:rating rating="[TOPICRATING]" TopicId="[TOPICID]" UserId="[CURRENTUSERID]" cssclass="afratewrap" runat="server" />]]></value>
    </token>
    <token group="topic" name="[AF:CONTROL:RATINGDISPLAY]" permissions="">
        <value><![CDATA[<af:rating rating="[TOPICRATING]" TopicId="[TOPICID]" Enabled="False" cssclass="afratewrapmini" runat="server" />]]></value>
    </token>
    <token group="topic" name="[POSTRATINGBUTTON]" permissions="">
        <value><![CDATA[]]></value>
    </token>
    <token group="topic" name="[AF:CONTROL:TOPICSORT]" permissions="">
        <value><![CDATA[<af:topicsort TopicId="[TOPICID]" ForumId="[FORUMID]" cssclass="afdropdown" runat="server" />]]></value>
    </token>
    <token group="topic" name="[SORTDROPDOWN]" permissions="">
        <value><![CDATA[]]></value>
    </token>
    <token group="topic" name="[QUICKREPLY]" permissions="">
        <value><![CDATA[[AF:SECURITY:REPLY]<af:quickreply runat="server" Subject="[SUBJECT]" templatefile="quickreply.ascx" AuthRoles="[REPLYROLES]" UserRoles="[USERROLES]" />[/AF:SECURITY:REPLY]]]></value>
    </token>
    <token group="editor" name="[AF:CONTROL:TAGS]" permissions="">
        <value><![CDATA[<input type="text" id="txtTags" name="txtTags" style="width:98%;" value="[TAGS]" class="NormalTextBox"  />]]></value>
    </token>
    <token group="editor" name="[AF:CONTROL:CATEGORIES]" permissions="">
        <value><![CDATA[Categories Control]]></value>
    </token>
    <token group="topic" name="[AF:CONTROL:TOPICACTIONS]" permissions="">
        <value>
            <![CDATA[<ul>[ACTIONS:DELETE][ACTIONS:EDIT][ACTIONS:QUOTE][ACTIONS:REPLY][ACTIONS:ALERT][ACTIONS:MOVE]</ul>]]>
        </value>
    </token>
    <token group="topic" name="[AF:CONTROL:POSTACTIONS]" permissions="">
        <value>
            <![CDATA[<ul>[ACTIONS:ANSWER]
									[ACTIONS:DELETE]
									[ACTIONS:EDIT]
									[ACTIONS:QUOTE]
									[ACTIONS:REPLY]
									[ACTIONS:ALERT]</ul>]]>
        </value>
    </token>
</tokens>
